* {
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  color: inherit;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  flex-shrink: 0;
}

.bg-black {
  background: #000;
  overflow: hidden;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
}

ul {
  display: flex;
  align-items: center;
}

.menu li p {
  margin-right: 56px;
  color: #FFF;
  font-size: 13px;
}
.menu li a {
  margin-right: 32px;
}

.fa-bars {
  color: #FFF;
  cursor: pointer;
}

img {
  background-color: transparent;
}

h1::-moz-selection, h6::-moz-selection {
  color: #5f5085;
}

h1::selection,
h6::selection {
  color: #5f5085;
}

.span::-moz-selection {
  background: silver;
}

.span::selection {
  background: silver;
}

.p::-moz-selection {
  background-color: silver;
}

.p::selection {
  background-color: silver;
}

a {
  color: #FFF;
  text-decoration: none;
}

.btn {
  font-size: 16px;
  color: #000;
  padding: 10px 20px 14px;
  border-radius: 14px;
  letter-spacing: 0.4px;
}
.btn:hover {
  color: rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 5px 5px rgba(192, 192, 192, 0.5);
}

li {
  color: #FFF;
  list-style: none;
}

button {
  color: #000;
}

h1 {
  color: #FFF;
  text-align: center;
  font-size: 54px;
  line-height: 59.4px;
}

h6 {
  color: #C0C0C0;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  color: #C0C0C0;
  font-size: 14px;
}

.header {
  position: relative;
  background: #181818;
}

.section {
  position: relative;
  background-image: url("../img/sec-1.jpg");
  display: flex;
  height: 716px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 71px;
}

.all-svg {
  display: inline-flex;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
}

.menu {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

ul {
  display: flex;
  align-items: center;
}

.menu li p {
  margin-right: 56px;
  color: #FFF;
  font-size: 13px;
}
.menu li a {
  margin-right: 32px;
}

.bck-sec {
  background: linear-gradient(0deg, #000 18.78%, rgba(0, 0, 0, 0) 98.53%), url(<path-to-image>), lightgray 50%/cover no-repeat;
}

.text {
  max-width: 600px;
  padding: 20px 10px 10px;
  text-align: center;
}

.content {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  padding-left: 15.75px;
  height: 16px;
  position: absolute;
  right: 40px;
}

.ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
  font-size: 12px;
  line-height: 12px;
}

.ul :hover {
  background-color: black;
}

.ul span {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section-2 {
  overflow: hidden;
}

.all-in-container {
  padding: 120px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  padding: 0 93px 2px 94px;
  gap: 15px;
  align-items: center;
  flex-direction: column;
}
.title h1 {
  line-height: 42px;
  font-size: 40px;
}
.title p {
  font-size: 23px;
  line-height: 30px;
}

.section-2 .grid-container {
  display: grid;
  grid-template-rows: 1200px;
  grid-template-columns: 1fr;
}
.section-2 .grid-container .cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-items: end;
}
.section-2 .grid-container .card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
.section-2 .grid-container .card,
.section-2 .grid-container h1,
.section-2 .grid-container p,
.section-2 .grid-container button {
  display: inline-flex;
  justify-content: flex-start;
  align-content: end;
  align-items: end;
  flex-flow: row wrap;
  font-size: 14px;
  margin-left: 30px;
}
.section-2 .grid-container .card h1,
.section-2 .grid-container h1 h1,
.section-2 .grid-container p h1,
.section-2 .grid-container button h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
}
.section-2 .grid-container .card p,
.section-2 .grid-container h1 p,
.section-2 .grid-container p p,
.section-2 .grid-container button p {
  color: #C0C0C0;
  width: 100%;
  max-width: 501px;
}
.section-2 .grid-container .card button,
.section-2 .grid-container h1 button,
.section-2 .grid-container p button,
.section-2 .grid-container button button {
  color: #000;
  align-items: center;
  letter-spacing: 0.4px;
  border-radius: 14px;
  padding: 5px 10px 5px 4px;
  background: #FFF;
  position: relative;
  flex-flow: row-reverse;
  margin: 17px 0px 30px 30px;
}
.section-2 .grid-container .card button:hover,
.section-2 .grid-container h1 button:hover,
.section-2 .grid-container p button:hover,
.section-2 .grid-container button button:hover {
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.3);
}
.section-2 .grid-container .card button:hover .circle,
.section-2 .grid-container h1 button:hover .circle,
.section-2 .grid-container p button:hover .circle,
.section-2 .grid-container button button:hover .circle {
  background: #fff;
}
.section-2 .grid-container .card .circle,
.section-2 .grid-container h1 .circle,
.section-2 .grid-container p .circle,
.section-2 .grid-container button .circle {
  margin-right: 6px;
  width: 32px;
  height: 32px;
  background-color: #000;
  border-radius: 13.5px 13.5px;
}
.section-2 .grid-container .cont li h1:nth-child(1) {
  height: 40px;
}
.section-2 .grid-container .cont li h1:nth-child(2) {
  height: 40px;
}
.section-2 .grid-container .cont li p:nth-child(1) {
  display: flex;
  align-items: start;
  height: 80px;
}
.section-2 .grid-container .cont li p:nth-child(2) {
  height: 80px;
}
.section-2 .grid-container .cont .card:nth-child(1) {
  background-image: url("../img/card-1.jpg");
}
.section-2 .grid-container .cont .card:nth-child(2) {
  background-image: url("../img/card-2.jpg");
}
.section-2 .grid-container .cont .card:nth-child(3) {
  background-image: url("../img/card-3.jpg");
}
.section-2 .grid-container .cont .card:nth-child(4) {
  background-image: url("../img/card-4.jpg");
}

.section-3 {
  background-image: url("../img/sec-3.jpg");
  position: relative;
  display: flex;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
  overflow: hidden;
}
.section-3 .bck-sec-3 {
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}

.cont-sec-3 {
  display: inline-flex;
  height: 600px;
  padding-right: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 60px;
}
.cont-sec-3 li {
  padding: 0;
}
.cont-sec-3 h1 {
  font-size: 14px;
  color: #FFF;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.cont-sec-3 p {
  max-width: 298px;
}

.nav-svg {
  display: inline-flex;
  height: 16px;
  padding-left: 15.75px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
  padding: 0 40px 40px;
}
.nav-svg span {
  color: #FFF;
  font-size: 12px;
  line-height: 12px;
}

.sec-4 {
  display: flex;
}

.left-side {
  width: 50%;
  min-height: 540px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-right: 40px;
}

.right-side {
  background-image: url(../img/sec-4.jpg);
  width: 50%;
  display: flex;
  background-size: cover;
  overflow: hidden;
  justify-content: flex-end;
}

.content-2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 60px 46px 40px 40px;
}
.content-2 h6 {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.content-2 h1 {
  line-height: 32px;
  font-size: 28px;
  margin-bottom: 14px;
}
.content-2 p {
  font-size: 14px;
  margin-bottom: 20px;
}
.content-2 button {
  color: #000;
  align-items: center;
  letter-spacing: 0.4px;
  border-radius: 14px;
  padding: 5px 10px 5px 4px;
  background: #FFF;
  position: relative;
  flex-flow: row-reverse;
  display: flex;
}
.content-2 button:hover {
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.3);
}
.content-2 button:hover .circle {
  background: #fff;
}
.content-2 .circle {
  margin-right: 6px;
  width: 32px;
  height: 32px;
  background-color: #000;
  border-radius: 13.5px 13.5px;
}

.nav-svg-2 {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding: 0 40px 36px;
  font-size: 12px;
  line-height: 12px;
}
.nav-svg-2 li {
  padding: 4px 0 4px 20px;
}

.bck-sec-5 {
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}

.sec-5 {
  background-image: url(../img/sec-5.jpg);
  background-size: cover;
}
.sec-5 .container {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  flex-direction: row;
}
.sec-5 .content-3 {
  display: inline-flex;
  height: 600px;
  padding-right: 27px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.sec-5 h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0;
}
.sec-5 p {
  font-size: 14px;
  max-width: 273px;
}

.pad-svg {
  padding: 0 40px 40px;
}
.pad-svg .nav-svg-3 {
  height: 16px;
  padding-left: 15.75px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
}
.pad-svg .nav-svg-3 span {
  font-size: 12px;
  line-height: 12px;
}

.cont-sec-6 {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
}
.cont-sec-6 h1 {
  text-align: center;
  font-size: 40px;
  line-height: 42px;
  margin-top: 113px;
}
.cont-sec-6 p {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  margin-top: 15px;
}

.flex-item {
  display: flex;
  justify-content: center;
}

.nav-svg-4 {
  flex-wrap: wrap;
  display: flex;
  padding: 40px 46px;
  justify-content: space-around;
  align-items: center;
  gap: 109px;
  margin-bottom: 100px;
}

.sec-7 {
  background-image: url(../img/sec-7.jpg);
  position: relative;
  display: flex;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
  overflow: hidden;
}
.sec-7 .bck-sec-7 {
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}

.cont-sec-7 {
  display: inline-flex;
  height: 600px;
  padding-right: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 60px;
  padding-top: 56px;
}
.cont-sec-7 li {
  padding: 0;
}
.cont-sec-7 h1 {
  font-size: 14px;
  color: #FFF;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.cont-sec-7 p {
  max-width: 298px;
}

.nav-svg {
  display: inline-flex;
  height: 16px;
  padding-left: 15.75px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
  padding: 0 40px 40px;
}
.nav-svg span {
  color: #FFF;
  font-size: 12px;
  line-height: 12px;
}

.sec-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 414px;
}

.cont-sec-8 {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.cont-sec-8 h1 {
  font-size: 40px;
  line-height: 42px;
  max-width: 571px;
}
.cont-sec-8 h2 {
  font-size: 24px;
  line-height: 30px;
  color: #C0C0C0;
  margin: 15px 0 22px;
}
.cont-sec-8 button {
  color: #000;
  font-family: "Poppins", sans-serif;
  align-items: center;
  letter-spacing: 0.4px;
  border-radius: 14px;
  padding: 5px 10px 5px 4px;
  background: #FFF;
  position: relative;
  flex-flow: row-reverse;
  display: flex;
}
.cont-sec-8 button:hover {
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.3);
}
.cont-sec-8 button:hover .circle {
  background: #fff;
}
.cont-sec-8 .circle {
  margin-right: 6px;
  width: 32px;
  height: 32px;
  background-color: #000;
  border-radius: 13.5px 13.5px;
}

.sfooter-1 {
  padding: 36px 0;
  align-items: center;
}

.footer {
  height: 652px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.part-1 {
  display: inline-flex;
  padding: 0px 17.594px 129px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-right: 253px;
}
.part-1 p {
  font-size: 13px;
}

.part-2 {
  display: inline-flex;
  padding: 0px 38.797px 60px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-right: 16px;
}
.part-2 h1 {
  font-size: 14px;
  color: #C0C0C0;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.part-2 p {
  color: #FFF;
}

.part-3 {
  display: inline-flex;
  padding-right: 101.984px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.part-3 h1 {
  color: #C0C0C0;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.part-3 p {
  color: #FFF;
  font-size: 13px;
}

.line {
  width: 100%;
  max-width: 1168px;
  height: 2px;
  background: #FFF;
}

.part-4 {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 36px;
}

.part-cont {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.part-cont p:nth-child(1) {
  color: #FFF;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.part-cont p:nth-child(2) {
  font-size: 13px;
}

.block {
  border-radius: 12px;
  background: #F9FAFB;
  width: 458px;
  height: 52px;
  position: relative;
}
.block .circle-3 {
  position: absolute;
  left: 389px;
  top: 11px;
  height: 30px;
  width: 63px;
  background-color: #000;
  border-radius: 11px;
}

.line-2 {
  width: 100%;
  max-width: 1168px;
  height: 2px;
  background: #FFF;
  margin-bottom: 56px;
}

.part-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.part-5 .text-1 {
  color: #C0C0C0;
  font-size: 14px;
}
.part-5 .text-2 {
  color: #C0C0C0;
  font-size: 13px;
}

.cont-fot {
  display: inline-flex;
  padding: 0px 291.391px 4px 0px;
  align-items: flex-start;
}

.svgs img:nth-child(1),
.svgs img:nth-child(2) {
  margin-right: 20px;
}/*# sourceMappingURL=main.css.map */